# Docker
MYSQL_IMAGE_TAG=mysql:8.0.45-debian

# MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=url_shortening_db
MYSQL_USER=url_shortening
MYSQL_PASSWORD=

# Spring Data
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/${MYSQL_DATABASE}
SPRING_DATASOURCE_PASSWORD=${MYSQL_PASSWORD}
SPRING_DATASOURCE_USERNAME=${MYSQL_USER}